@use 'sass:color'

$main-dark: #3d404c
$main-light: #fff
$gray-10: #f0f4f9
$gray-20: #e1e7ef

$orange: #f7971c
$red: #e35169

$frame-border: $gray-20

$default-text: $main-dark

$translucent-overlay: rgba($main-dark, .9)

$action-icon-bg: transparent
$action-icon-hover-bg: $gray-20


$sidebar-background: $gray-10
$sidebar-link-hover-bg: $main-light
$sidebar-link-active-bg: $sidebar-link-hover-bg
$sidebar-link-text: $default-text
$sidebar-label-text: color.adjust($sidebar-link-text, $lightness: 23%)
$sidebar-label-border: color.adjust($sidebar-link-text, $lightness: 60%)
$sidebar-link-text-hover: $sidebar-link-text
$sidebar-link-text-active: $sidebar-link-text
$sidebar-link-border: transparent
$sidebar-link-border-hover: $sidebar-link-active-bg
$sidebar-link-border-current: $orange

$input-text-border: $gray-20

$input-select-bg: $main-light
$input-select-border: $gray-20
$input-select-arrow: color.adjust($main-dark, $lightness: 50%)
$input-select-border-focus: $orange
$input-select-item-hover-bg: $gray-10

$input-number-arrows: color.adjust($main-dark, $lightness: 50%)
$input-number-arrow-hover: color.adjust($main-dark, $lightness: 30%)
$input-number-arrow-active: $orange
$input-number-arrow-hover-bg: $gray-10
$input-number-border-focus: $orange

$secondary-button-bg: $gray-10
$secondary-button-hover-bg: $orange
$secondary-button-active-bg: color.adjust($orange, $blackness: 5%)
$secondary-button-text: $main-dark
$secondary-button-hover-text: $main-light

$palette-color-border: $gray-20
$palette-color-overlay-bg: $translucent-overlay
$palette-color-overlay-text: $main-light
$palette-color-overlay-edit-hover: $orange
$palette-color-overlay-delete-hover: $red

$modal-bg: $main-light
$modal-under: $translucent-overlay
