@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined')

$font-family-main: 'Inter', sans-serif

@mixin html-font-size
	font-size: 62.5% // Default size 10px for easy math

@mixin global-font-style
	font-family: $font-family-main
	-webkit-font-smoothing: antialiased

@mixin font-header
	font-size: 1.4rem
	font-weight: 600

@mixin font-sidebar
	font-size: 1.4rem
	font-weight: 500
	letter-spacing: .03rem

@mixin font-sidebar-empty-title
	font-weight: 600

@mixin font-sidebar-empty-guide
	font-size: 1.3rem
	text-align: justify

@mixin font-sidebar-label
	font-size: 1.3rem
	font-weight: 400

@mixin font-workspace
	font-size: 1.5rem
	font-weight: 400