@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined')

$font-family-main: 'Inter', sans-serif

@mixin html-size
	font-size: 62.5% // Default size 10px for easy math

@mixin global
	font-family: $font-family-main
	-webkit-font-smoothing: antialiased

@mixin header
	font-size: 1.4rem
	font-weight: 600

@mixin header-options
	font-size: 1.5rem
	font-weight: 400

@mixin header-import-export
	font-size: 1.4rem
	font-weight: 600
	white-space: nowrap

@mixin material-icons
	font-size: 2rem

@mixin material-icons-large
	font-size: 2.6rem

@mixin sidebar
	font-size: 1.4rem
	font-weight: 500
	letter-spacing: .03rem

@mixin sidebar-empty-title
	font-weight: 600

@mixin sidebar-empty-guide
	font-size: 1.3rem
	text-align: justify

@mixin sidebar-label
	font-size: 1.3rem
	font-weight: 400

@mixin workspace
	font-size: 1.5rem
	font-weight: 400

@mixin input-label
	font-size: 1.5rem
	font-weight: 500

@mixin default-input
	font-size: 1.5rem
	font-weight: 400
	line-height: normal

@mixin error-input
	font-size: 1.5rem
	font-weight: 500
	line-height: normal

@mixin button
	font-size: 1.5rem
	font-weight: 600

@mixin secondary-button
	font-size: 1.5rem
	font-weight: 500

@mixin palette-color-info
	font-size: 1.6rem
	font-weight: 600

@mixin import-export-step
	font-size: 2rem
	font-weight: 500

@mixin modal-message
	font-size: 1.8rem
	font-weight: 400

@mixin notice
	font-size: 1.6rem
	font-weight: 500
	text-align: justify

@mixin notice-material-icon
	font-size: 22px

@mixin tooltip
	font-size: 1.5rem
	font-weight: 400