.app-overlay
	width: 0
	height: 0
	display: block
	position: absolute
	top: 0
	left: 0
	z-index: 999999999999
	.modal-wrapper
		position: absolute
		top: 0
		left: 0
		width: 100vw
		height: 100vh
		background: var(--black3)
		display: grid
		justify-items: center
		align-items: center
		padding: 16px
		.modal
			background: var(--white)
			border-radius: var(--border-radius-small)
			box-shadow: var(--modal-box-shadow)
			height: auto
			max-height: 100%
			min-height: 100px
			width: 100%
			max-width: 800px
			display: grid
			grid-template-rows: [header] 41px [body] 1fr [buttons] min-content
			.modal-header
				display: grid
				grid-row: header
				width: 100%
				grid-template-columns: [title] 1fr [close] var(--size-medium)
				align-items: center
				grid-gap: var(--size-xxsmall)
				padding: 0 var(--size-xxxsmall) 0 var(--size-xsmall)
				border-bottom: 1px solid var(--black1)
				.title
					grid-column: title
			.modal-body
				grid-row: body
				padding: var(--size-xsmall) 0
				.modal-footer-notice
					margin: var(--size-xsmall) var(--size-xsmall) 0 var(--size-xsmall)
			.modal-buttons
				grid-row: buttons
				display: flex
				flex-direction: row
				gap: var(--size-xxsmall)
				justify-content: flex-end
				padding: 0 var(--size-xsmall) var(--size-xsmall) var(--size-xsmall)